# .coveragerc to control coverage.py
[run]
branch = True
source = pld_controlsystem_python
omit =
    src/pld_controlsystem_python/debugtime.py
    src/pld_controlsystem_python/ftp_wrapper.py
    src/pld_controlsystem_python/newportxps.py
    src/pld_controlsystem_python/utils.py
    src/pld_controlsystem_python/XPS_C8_drivers.py

[paths]
source =
    src/
    */site-packages/

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
        pass
    if __name__ == '__main__':
        pass
